* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 61px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: black;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.4;
    color: white;
  }

  /* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00ff80cc;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3em;
    color: #00ff80cc;
    line-height: 1;
  }
  
h2 {
  font-size: 2.5em;
  font-weight: 400;
}

h3 {
  font-size: 2em;
  color: #00ff80cc;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

p,
nav a {
  opacity: 0.8;
}

/* Container */

.container-bg {
  background-color: #101010;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

/* Title */

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  gap: 20px;
}

.title hr {
  background-color: #00ff80cc;
  height: 2px;
  width: 90px;
  border: none;
}

/* Header */

header {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
}

header a {
  text-decoration: none;
  color: white;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  user-select: none;
}

nav a:hover {
  opacity: 1;
}

#logo {
  font-weight: 600;
}

#menu,
#close {
  display: none;
  width: 20px;
  cursor: pointer;
}

/* Hero */

.hero-section {
  background-color: black;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  gap: 40px;
  align-items: center;
  min-height: calc(100dvh - 61px);
}

.hero-content-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  align-items: start;
}

.hero-content-item p {
  max-width: 600px;
}

.hero-content-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 600px #00ff805e;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Buttons */

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  display: inline-flex;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s;
}

.btn-primary {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.btn-primary:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-secondary {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-secondary:hover {
  background-color: #00ff80;
  color: black;
  border: 1px solid #00ff80;
}

/* About */

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-me img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

/* Skills */

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.skill {
  background-color: #555;
  padding: 20px;
  background-color: #101010;
  box-shadow: 0 0 10px #00ff8000;
  transition: 0.5s;
  cursor: default;
  border-radius: 20px;
}

.skill:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #00ff8091;
  background-color: #0c0c0c;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

/* Skill percentages */

.percentage {
  width: 100%;
  height: 4px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.percentage-fill {
  width: 0%;
  height: 5px;
  background-color: #00ff80;
}

/* Experiences */

.experiences {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #000000;
  padding: 20px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: default;
}

.experience:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #00ff8091;
  background-color: #0c0c0c;
}

/* Educations */

.educations {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education {
  display: grid;
  grid-template-columns: 180px auto auto;
  gap: 20px;
  background-color: #000000;
  padding: 20px;
  border-radius: 20px;
  text-align: start;
  width: 100%;
  transition: 0.5s;
}

.education:hover {
  transform: translateX(10px);
}

.education:hover h3 {
  background-color: #00ff80;
  color: black;
}

.education h3 {
  text-align: center;
  text-wrap: nowrap;
  width: 100%;
}

.education p {
  width: auto;
}

.education hr {
  height: 50px;
  width: 3px;
}

/* Contact */

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
}

form input,
textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #000000;
  color: white;
  font-weight: bold;
}

textarea {
  resize: vertical;
  min-height: 200px;
}

input[type="submit"] {
  background-color: #00ff80;
  border: 2px solid #00ff80;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  border: 2px solid white;
  background-color: black;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #000000;
}